@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Smokum&display=swap');

$alt-bg-color: #bac5f7;
$coral-color: lightcoral;
$font-family: 'Righteous',cursive;


*{
    font-family: $font-family;
}

body {
    background-color: $alt-bg-color;
    margin: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 10vw;
}

h6 {
    text-align: center;
    margin: 40px auto;
}

p{
    text-align: center;
}

.input {
    display: block;
    text-align: center;
    width: 150px;
    margin: 8px auto;
    font-family: $font-family;
}

.reminder {
    text-align: center;
    margin: 30px auto;
    background: $coral-color;
    width: 50%;
    padding: 10px;
    border-radius: 16px;
}

.edit-reminder{
    background-color:$alt-bg-color;
    border-radius: 16px;
    opacity: .8;
}

.home-area{
    background-color: $alt-bg-color;
    display: block;
    margin: 10px;
}


#create-reminder-button{
    background-color: $coral-color;
    border-radius: 16px;
}

#sign-in-button, #sign-up-button{
    background-color: $coral-color;
}

@media only screen and (min-height: 400px) {
    .instructions {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        
    }
}