@import '~bootstrap/scss/bootstrap';

body {
    background-color: #e0fbff;
    margin: 10px;
    padding: 10px;
}

.input {
    display: block;
    text-align: center;
    width: 150px;
    margin: 8px auto;
}

h1 {
    text-align: center;
    margin: 40px auto;
}